export SERVER_PORT=8080
export DB_HOST=db
export DB_PORT=5432
export DB_USER=postgres
export DB_PASSWORD=Menteng123
export DB_NAME=iafri
export DB_SSLMODE=disable
export REDIS_HOST=redis
export REDIS_PORT=6379
export REDIS_PASSWORD=default

# Application Configuration
export BASE_URL=https://s.iafri.com
export FRONTEND_URL=https://short.irvineafri.com
export JWT_SECRET=your-secret


# RabbitMQ Configuration
export RABBITMQ_URL=amqp://admin:Menteng123@rabbitmq:5672/
export RABBITMQ_HOST=rabbitmq
export RABBITMQ_PORT=5672
export RABBITMQ_USERNAME=admin
export RABBITMQ_PASSWORD=Menteng123